img{
    display: block;
    max-height: 700px;
    max-width: 100%;
  }
body{
    background-color:indianred;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    color:lavender;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}